@import 'variables.css';

* {
	box-sizing: border-box;

	font-family: "Segoe UI";
}

.profile {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: fill;
}
.avatar-bio {
	display: flex;
	width: 40%;
	height: fit-content;
	flex-direction: column;
	background-color: white;
	align-items: center;
	margin-bottom: 30px;
	padding: 20px;
	box-shadow: var(--shadow);
}

.avatar-bio .avatar {
	width: 120px;
	height: 120px;
	position: relative;
	top: -50px; /* -padding and overlay */
	border-radius: 50%;
	box-shadow: 2px 2px 6px 2px rgba(200,200,200,1);
	object-fit: cover;
}
.avatar-bio .subtitle {
	font-weight: 300;
	text-transform: uppercase;

	margin-bottom: 15px;
	margin-top: -30px;
}
.avatar-bio .title {
	font-weight: 700;
	margin-bottom: 15px;
}
.avatar-bio .bio {
	text-align: center;
}

.profile-form {
	width: -webkit-fill-available;
	background-color: white;
	padding: 15px;
	margin-right: 30px;
	box-shadow: var(--shadow);
}

.profile-form .form-layout {
	width: 100%;
	margin-top: -30px;
	margin-bottom: 15px;
	padding: 15px;
	box-shadow: var(--shadow);
	background-color: var(--pink);
	color: white;
}
.profile-form .form-layout .title {
	margin-bottom: 15px;
	text-transform: capitalize;
}
.profile-form .form-layout .subtitle {
	font-size: 15px;
}

.profile-form form .row {
	margin: 10px;
}

.profile-form form label {
	margin-left: 10px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 300;
	text-transform: capitalize;
}

.profile-form form input[type="text"],
.profile-form form textarea {
	background: transparent;
	border: none;
	border-bottom: 1px solid grey;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
}

.profile-form form input[type="text"]:focus,
.profile-form form textarea:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.profile-form form .update-profile {
	display: flex;
	justify-content: right;
	text-align: right;
}
.profile-form form .update-profile button {
	text-transform: uppercase;
	padding: 7px 25px;
	margin-top: 10px;
	border: none;
	box-shadow: var(--sm-shadow);
	background-color: var(--pink);
	color: white;
	font-size: 14px;
}

@media screen and (max-width: 1000px) {
	.profile {
		flex-direction: column;
	}
	.avatar-bio {
		width: 100%;
	}
	.profile-form {
		margin: 0;
	}
}