@import './variables.css';

.stats-grid {
	display: grid;
	grid-gap: 15px;
	margin-bottom: 50px;
}
.stats-grid > * {
	box-sizing: border-box;
}
.num-stats {
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.diagram-stats {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.num-stats .stat-card {
	height: 150px;
}
.diagram-stats .stat-card {
	height: 280px;
}

.stat-card {
	padding: 15px;
}

.stat-card .stat-card-img {
	margin: -15px 0 0 15px;
	display: flex;
	position: relative;
	z-index: 1;
	justify-content: center;
	align-items: center;
	box-shadow: var(--sm-shadow);
}
.green {
	background-color: var(--green);
}
.dark-yellow {
	background-color: var(--dark-yellow);
}
.blue {
	background-color: var(--blue);
}
.pink {
	background-color: var(--pink);
}

.num-stats .stat-card .stat-card-img {
	width: var(--sm-card-image-size);
	height: var(--sm-card-image-size);
}
.num-stats .stat-card .stat-card-img img {
	width: 30px;
	height: 30px;
}

.diagram-stats .stat-card .stat-card-img {
	padding: 20px;
	width: calc(100% - 30px);
}
.diagram-stats .stat-card .stat-card-img img {
	width: 100%;
	height: var(--md-card-image-height);
}

.stat-card .stat-card-body {
	width: 100%;
	height: 100%;
	position: relative;

	padding: 10px 15px 15px 15px;

	background-color: white;
	box-shadow: var(--shadow);
}
.num-stats .stat-card .stat-card-body {
	top: calc(15px - var(--sm-card-image-size));
}
.diagram-stats .stat-card .stat-card-body {
	top: calc(15px - (var(--md-card-image-height) + 40px));
}

.stat-card .info-value, .stat-card .info-line {
	display: flex;
	flex-direction: column;
	height: 70%;
	border-bottom: var(--border);
}
.stat-card .info-line {
	flex-direction: column-reverse;
	height: 90%;
	padding-bottom: 10px;
}

.stat-card .info-value {
	text-align: right;
}

.stat-card .info-value .info-type {
	font-size: 12px;
}
.stat-card .info-value .value {
	font-size: 24px;
}

.stat-card .info-line .info-title{
	font-size: 18px;
}
.stat-card .info-line .info-subtitle{
	font-size: 14px;
}

.stat-card .description {
	display: flex;
	align-items: center;
	margin-top: 10px;
	font-size: 12px;
}
.stat-card .description a {
	color: black;
	text-decoration: none;
}
.stat-card .description .description-icon {
	width: 12px;
	height: 12px;
	margin-right: 10px;
}

/* Form-like cards */

.forms-stats {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.forms-stats .form-card {
	width: -webkit-fill-available;
	min-height: 340px;
	margin-bottom: 50px;
	padding: 0 15px;
	margin-right: 15px;
	background-color: white;
	box-shadow: var(--shadow);
}

.forms-stats .form-card .card-overlay {
	color: white;
	padding: 15px;
	margin: -15px 0 10px 0;
	align-items: center;
	box-shadow: var(--sm-shadow);
}
.forms-stats .form-card .card-overlay ul.linear {
	list-style: none;
	display: inline-flex;
	flex-direction: row;
	margin: 0 0 0 25px;
	padding: 0;
}
.forms-stats .form-card .card-overlay ul.linear li {
	margin-right: 15px;
	padding: 10px;
	cursor: pointer;
}
.forms-stats .form-card .card-overlay ul.linear li:hover {
	background-color: #e1b14d;
}
.forms-stats .form-card .card-overlay ul.linear li img {
	margin: -5px 10px 0 0;
}
.forms-stats .form-card .card-overlay .title {
	font-size: 18px;
	font-weight: 500;
}

.forms-stats .card-body .form-row {
	border-bottom: 1px solid var(--darken-grey);
	margin-bottom: 5px;
	padding: 10px 0;
	justify-content: space-between;
}
.forms-stats .card-body .form-row .actions img {
	width: 20px;
	height: 20px;
}
.forms-stats .card-body table {
	margin-top: -15px
}
.forms-stats .card-body table thead th {
	border-top: 0;
	color: #6edcca;
	font-weight: 500;
}