* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI";
}
html, body {
	min-height: 100vh;
	width: 100vw;
}

nav {
	position: fixed !important;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 2;

	width: 170px !important;
	height: 100vh;
	padding: 10px 0 0 0 !important;
	box-shadow: var(--shadow);
}

.nav-title {
	display: flex;

}
.hr {
	min-width: 100%;
	height: 0;
	border-top: var(--border);
	margin: 15px 0;
}

#navbarSupportedContent {
	width: 100%;
	padding: 0 10px;
}
#navbarSupportedContent ul {
	width: 100%;
}
#navbarSupportedContent ul li a {
	display: flex;
	align-items: center;
}
#navbarSupportedContent ul li img {
	display: inline-block;
	margin-right: 10px;
}
li.active {
	background-color: var(--pink);
}
li.active a {
	color: white !important;
}
li.active:hover {
	box-shadow: var(--shadow);
}

.content {
	position: relative;
	left: 170px;
	width: calc(100vw - 170px);
	min-height: 100vh;
	background-color: var(--darken-grey);

	padding: 20px 15px 0 20px;
}
.content .page-title {
	display: flex;
	margin-bottom: 30px;
}
.content .page-title .toggle-navbar {
	display: none;
	width: 20px;
	height: 20px;
}
